:root {
    --dark-blue: hsl(220, 13%, 18%);
    --light-blue: hsl(221, 43%, 51%);

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    color: #fff;
    text-align: center;
    font-family: sans-serif;
}

.container {
    display: grid;
    grid-template-areas:
        "people vehicles starships films"
        "people homeworld homeworld homeworld";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 5fr 1fr;
    gap: 10px;
    height: 100vh;
    background-color: var(--light-blue);
    padding: 10px;
}

.container>div {
    background-color: var(--dark-blue);
    padding-top: 20px;
}

.container>div>ul {
    display: flex;
    flex-direction: column;
    gap: 3px;
    align-items: center;
    color: hsl(0, 0%, 93%);
}

.container>div>ul>li {
    line-height: 1.5rem;
    border: 2px solid var(--light-blue);
    background-color: var(--dark-blue);
    width: 90%;
    list-style: none;
    border-radius: 7px;
    cursor: default;
}

.container>div>.people-list>li {
    cursor: pointer;
}

.container>div>ul>li>span {
    margin-left: 5px;
}

.container>div>.people-list>li:where(:hover, :active) {
    filter: brightness(1.5);
}

h2 {
    font-size: 3rem;
    line-height: 4rem;
}

.people {
    grid-area: people;
    overflow-y: auto;
}

.vehicles {
    grid-area: vehicles;
}

.starships {
    grid-area: starships;
}

.films {
    grid-area: films;
}

.homeworld {
    grid-area: homeworld;
}

.homeworld-div {
    font-size: 2rem;
    line-height: 3rem;
}

.loader_wrapper {
    display: inline-block;
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    filter: drop-shadow(0 0 1px yellow);
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-family: arial;
    color: yellow;
    text-shadow: 1px 1px 1px black;
    animation: blink 1s ease infinite;
}

.loader {
    width: 100px;
    height: 100px;
    animation: flip 2s linear infinite;
}

.loader path {
    stroke: black;
    stroke-width: 30;
    fill: transparent;

    stroke-dasharray: 100px 5px;
    animation: spin 1s ease-in-out infinite alternate;
}

@keyframes spin {
    0% {
        stroke-dashoffset: 500;
        opacity: .5;
    }

    100% {
        stroke-dashoffset: 0;
        opacity: 1;
    }
}

@keyframes flip {
    0% {
        transform: rotateY(0deg);
    }

    100% {
        transform: rotateY(1080deg);
    }
}

@keyframes blink {
    0% {
        opacity: .5;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: .5;
    }
}